<article data-animate-effect="fadeInLeft" class="timeline-entry animate-box">
  <div class="timeline-entry-inner">
    <div class="timeline-icon color-2"><i class="icon-pen2"></i>
    </div>
    <div class="timeline-label">
      <h4>DONGBU<span> - &nbsp;Aug 2021 to Present</span></h4>
      <h4> Software Developer</h4>
      <ul>
        <li>Working as a full stack developer</li>
      </ul>
    </div>
    <div class="timeline-label">
      <h4>UPC<span> - &nbsp;Aug 2017 to 2021</span></h4>
      <h4> Software Developer</h4>
      <ul>
        <li>Working as a full stack developer</li>
      </ul>
    </div>
    <div class="timeline-label">
      <h4>JOS<span> - &nbsp;Aug 2015 to 2016</span></h4>
      <h4> Software Developer</h4>
      <ul>
        <li>Working as a full stack developer</li>
      </ul>
    </div>
  </div>
</article>
