<h2>Experience</h2>
<article  data-animate-effect="fadeInLeft" class="timeline-entry animate-box">
  <div  class="timeline-entry-inner">
    <div  class="timeline-icon color-2"><i  class="icon-pen2"></i>
    </div>
    <div  class="timeline-label">
      <h4 >DONGBU<span >- &nbsp;Aug 2021 to Present,
          Ahmedabad</span></h4>
      <h4 > Software Developer</h4>
      <ul >
        <li >Working as a full stack developer</li>
        <li >Responsible for handling the UI in React and Managing the api calls in python
          Flask.</li>
      </ul>
    </div>
  </div>
</article>
