*{
  margin: 0 0 !important;
}
.main-container{
  margin: 0 0 0 0 !important;
  height: 100vh;
  background-image: url(../assets/images/bg.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.col-profile{
  height: 100vh;
  top:0px;
  background-color: white;
  border-radius: 10px 10px 0 0;
  z-index: 999;
}
.col-profile .card{
  border-radius: 10px 10px 0 0;
  border: none;
  padding: 15px 0px;
    width: 100%;
    text-align: center;
}
.card .card-body{
  padding:0;
}
.col-content{
  height: 100vh;
  top:0px;
  // overflow: auto;
}
.content{
  padding: 0 10px;
  overflow: auto;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 0 1px;
}
.row>*{
  padding: 0px 0px !important;
}
.card.col-content{
  border-width: 0;
}
