<div class="container">
  <img *ngIf="_profileUrl" [src]="_profileUrl" class="img-fluid rounded-circle profile-avatar" alt="Profile Photo" width="200px" height="200px">
  <h4 class="mt-3 text-center"><b>{{_userName}}</b></h4>
  <h6 class="text-center">{{_userJob}}</h6>
  <br>
  <div class="row d-flex align-content-end">
      <div class="col-md-12 social-media">
          <ion-icon class="small-logo" name="logo-github"></ion-icon>
          <ion-icon class="small-logo" name="logo-linkedin"></ion-icon>
          <ion-icon class="small-logo" name="logo-facebook"></ion-icon>
          <ion-icon class="small-logo" name="musical-notes-outline"></ion-icon>
      </div>
  </div>
</div>
