@import "./../../assets/styles/variable";

.profile-icon {
  height: 30px;
  width: 30px;
  color: black;
  padding: 2px;
  text-align: center;
  border: 2px solid;
}
.profile-avatar {
  padding: 2px;
  text-align: center;
  border: 2px solid;
}
.detail > li {
  list-style: none;
  background: #ccc;
  font-size: 12px;
  text-align: left;
  // padding: 0px 5px 0px 5px;
}
ul.detail{
  word-spacing: 3px;
  letter-spacing: 1px;
  border-radius: 10px;
  background: #ccc;
}
h4 {
  color: $main-color;
}
.social-media {
  margin: 0px 0px 0px 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
  position: absolute;
  left: 0;
  bottom: 10px;
}
.small-logo {
  width: 30px;
  height: 30px;
  // border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}
.small-logo:hover {
  color: $main-color;
  transform: scale(1.2, 1.2);
  transition: 0.8s;
}
#audio-icon.playing {
  animation: playing 0.5s linear infinite;
  color: $main-color;
}
@keyframes playing {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.2, 1.2);
  }
}
.about-me > p > i {
  margin-bottom: 5px;
  margin-right: 5px;
  width: 30px;
}
.container {
  height: calc(100vh - 32px);
}

