/* You can add global styles to this file, and also import other style files */
@import './assets//styles/variable';
@font-face {
  font-family: 'poppin';
  src: url(assets/fonts/Poppins-Regular.ttf) format("truetype");
}
body{
  padding: 0;
  margin: 0;
  background-color: #0d1117;
  font-family:'poppin';
}

.block-text-bold{
  font-weight: bold;
  display: block;
}

.btn-primary{
  background-color: $main-color;
  border: none;

}
.btn-primary:hover{
  background-color: $main-color;
  opacity: 0.9;
}
.btn-outline-primary{
  color: $main-color;
  border: 1px solid $main-color;

}
.btn-outline-primary:hover{
  background-color: $main-color;
  // opacity: 0.9;
}
.btn-primary:focus{
  background-color: $main-color;
}

.form-control:focus{
  border-color: $main-color;
  box-shadow: none;
}
::-webkit-scrollbar {
  width: 4px;

  }
  ::-webkit-scrollbar-track {
  background: #FFFFFF;
  -webkit-box-shadow: inset 1px 1px 2px #E0E0E0;
  border: 1px solid #D8D8D8;
  }




  ::-webkit-scrollbar-thumb {
  background: #7f8196;
  -webkit-box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
  }
  ::-webkit-scrollbar-thumb:hover {
  background: #AAA;
  }
  ::-webkit-scrollbar-thumb:active {
  background: #888;
  -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
  }
